{
  "actions": [
    {
      "name": "MAIN",
      "intent": {
        "name": "actions.intent.MAIN"
      },
      "fulfillment": {
        "conversationName": "{your app name}"
      }
    }
  ],
  "conversations": {
    "mbta-app": {
      "name": "{your app name}",
      "url": "{you ngrok url}",
      "fulfillmentApiVersion": 2
    }
  }
}